<header class="mainHeader">
    <div class="container headerCont">
        <div class="row">
            <div class="col-md-12" id="tinfoilRow">
                <h2 class="tinfoil">Tinfoil</h2>
            </div>
        </div>
        <div class="row" id="buttonRow">
            <div class="col-md-4 buttonDiv">
                    <form>
                        <button type="submit" class="indexButton" id="scrButton">SCRAPE ARTICLES</button>
                    </form>
                </div>
            <div class="col-md-4 buttonDiv">
                <form action="/saved">
                        <button type="submit" class="indexButton">SAVED ARTICLES</button>
                    </form>
                </div> 
            <div class="col-md-4 buttonDiv">
                <form action="/purge" method="POST">
                        <button type="submit" class="indexButton" id="purButton">PURGE ARTICLES</button>
                    </form>
                </div> 
            </div>         
        </div>
    </header>



<div class="container" id="articles">
    <div class="row">
        <div class="col-md-12" id="newArtHeader">
            <h4 id="scrHeading">Recently Scraped Articles</h4>
        </div>
    </div>

</div>
