<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/scrape" method="GET">
                <button type="submit">SCRAPE</button>
            </form>
        </div>
    </div>
</div>

<div class="container" id="articles">

</div>

<script>
$.getJSON("/articles", function(data) {
    for( var i = 0 ; i < data.length ; i++ ) {
        $("#articles").append('<div class="row"><div class="card mb-3" style="max-width: 80%; min-width: 80%;"><div class="row no-gutters"><div class="col-md-4"><img src="' + data[i].image + '" class="card-img" alt="..."></div><div class="col-md-8"><div class="card-body"><h5 class="card-title">' + data[i].title + '</h5><a class="artLink" href="' + data[i].link + '">Link to Metal Injection Article</a><br><br><a href="#" class="btn btn-primary artButton" data-id="' + data[i]._id + '">Save Article</a></div></div></div></div>')
    }
})

$(document).on("click", ".artButton", function() {
    var savedArticleID = $(this).attr('data-id')
    console.log(savedArticleID);
})
</script>