<div class="modal" id="noteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    
                </h2>
            </div>
            <div class="modal-body">
                <div class="modal-notes">
                    <h6 id="notesMessage">No notes yet...</h6>
                    <div class="container" id="notesCont">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="currNotes">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Add a new note:</label>
                        <textarea class="form-control" id="newNoteText" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary savNote">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<header class="savHeader">
    <div class="container savedHeaderCont">
        <div class="row">
            <div class="col-md-12" id="tinfoilRow">
                <h4 class="savedHeading">Saved Articles</h4>
            </div>
        </div>
        <div class="row" id="buttonRow">
            <div class="col-md-4">
                <form action="/" method="GET">
                        <button type="submit" class="homeButton">HOME</button>
                    </form>
                </div>
            </div>         
        </div>
    </header>


<div class="container" id="savedArticles">


</div>